@model Minor.Case1.AdministratieCursusenCursisten.ViewModels.CursusOverzichtViewModel
<nav aria-label="...">
    <h2 class="text-center"> @Model.Jaar</h2>
    <ul class="pager">
        <li class="previous">@Html.ActionLink("Vorige", "Index", new { jaar = Model.Jaar, week = Model.Weeknr-1})</li>
        <li> <span class="text-center"> 
                Week @Model.Weeknr
            </span> 
        </li>
        <li class="next">@Html.ActionLink("Volgende", "Index", new { jaar = Model.Jaar, week = Model.Weeknr + 1 })</li>
    </ul>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CursusInstanties.First().Cursus.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursusInstanties.First().StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursusInstanties.First().Cursus.Duur)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CursusInstanties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cursus.Titel)
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.StartDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cursus.Duur)
                </td>

            </tr>
        }
    </tbody>
</table>
