@model Lapiwe.GMS.FrontEnd.ViewModels.KlantGegegevensViewModel

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(display => Model.Klant.Voornaam)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(display => Model.Klant.Voornaam)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(display => Model.Klant.Tussenvoegsel)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(display => Model.Klant.Tussenvoegsel)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(display => Model.Klant.Achternaam)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(display => Model.Klant.Achternaam)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(display => Model.Klant.Straatnaam)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(display => Model.Klant.Straatnaam)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(display => Model.Klant.Huisnummer)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(display => Model.Klant.Huisnummer)</p>
        </div>
    </div><div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(display => Model.Klant.Postcode)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(display => Model.Klant.Postcode)</p>
        </div>
    </div><div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(display => Model.Klant.Woonplaats)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(display => Model.Klant.Woonplaats)</p>
        </div>
    </div><div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(telefoonnummmer => Model.Klant.Emailadres)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(telefoonummer => Model.Klant.Emailadres)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(telefoonnummmer => Model.Klant.Telefoonnummer)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(telefoonummer => Model.Klant.Telefoonnummer)</p>
        </div>
    </div>
</form>
